{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
	{% block stylesheets %}
		{{ parent()}}
		{{ encore_entry_link_tags('contact') }}
	{% endblock %}
	
	{% block javascripts %}
		{{ parent()}}
		{{ encore_entry_script_tags('contact') }}
	{% endblock %}
{% block body %}
<div class="container px-3 px-lg-5">
    <div class="row ml-lg-8rem">
        <div class="col-md-10 col-contact">
            <h1 class="intro__text">Contact.</h1>
            <p class="intro-paragraph">Get in touch or shoot me an email directly on <b>mouhamediop114@gmail.com</b></p>
            
            <div class="fields">
                <form method="post" action="{{ path('send_email') }}">
                    <div class="form-group">
                        <label for="inputName"></label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail"></label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="message"></label>
                        <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button-submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
