{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

    {% block stylesheets %}
        {{ parent()}}
        {{ encore_entry_link_tags('project') }}
      {% endblock %}
      
      {% block javascripts %}
          {{ parent()}}
        {{ encore_entry_script_tags('project') }}
      {% endblock %}

{% block body %}
    <main class="mb-auto project">
        <div class="container mt-4">
            <div class="d-flex align-items-start justify-content-center">
                <h1 class="custom-title">Project</h1>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100 d-flex flex-column custom-card" style="background-image: url('{{ asset(project.imageHomePage()) }}')">
                            <div class="card-body  flex-fill">
                                <div class="mt-auto">
                                    <h3 class="card-title">{{ project.name}} </h3>
                                    <p class="card-text text-justify">{{ project.description}} </p>
                                    <ul class="list-inline">
                                        {% for techno in project.Technos() %}
                                            <li class="technos list-inline-item">{{ techno.name() }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}