{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

    {% block stylesheets %}
        {{ parent()}}
        {{ encore_entry_link_tags('project') }}
      {% endblock %}
      
      {% block javascripts %}
          {{ parent()}}
        {{ encore_entry_script_tags('project') }}
      {% endblock %}

{% block body %}
    <main class="mb-auto">
        <div class="container mt-5">
            <div class="row">
                {% for i in 1..6 %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100 d-flex flex-column custom-card" style="background-image: url('https://media.istockphoto.com/id/1067347086/fr/photo/chat-aux-yeux-bleus-se-penche-sur-lappareil-photo.jpg?s=612x612&w=0&k=20&c=BJqJ6BYWFo4xT1TVDu8fmg5_z7L1ZwgYnC2M6VCwOWY=');">
                            <div class="card-body flex-fill">
                                <div class="mt-auto">
                                    <h3 class="card-title">Project {{ i }}</h3>
                                    <p class="card-text">Description du projet {{ i }}. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">Techno A</li>
                                        <li class="list-inline-item">Techno B</li>
                                        <li class="list-inline-item">Techno C</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}